/* global variable*/
:root{
    --clr-primary:#3777AA;
    --clr-primary-light:#2284d3;
    --clr-white:#ffffff;
    --clr-white-light:#f0f0f0;
    --clr-shadow:#00000029;
    --clr-black:#333333;
    --clr-black-30:#2220204d;
    --clr-black-80:#222020cc;
    --clr-black-90:#212020e6;
    --clr-pink-light:#fdf2f2;
    --clr-blue-light:#f2fdfb;
    --box-shadow-light: 0px 3px 7px var(--clr-shadow);
    --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
    --font-family: Arial, Helvetica, sans-serif;
    --transition: all 0.3s linear;
    --radius: 4px;
}

/* global styles */
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*focus{
    outline-width:2px;
    outline-offset:3px;
    outline-color:var(--clr-primary)

}
body{
    color:var(--clr-white);
    background:var(--clr-black);
    font-family:var(--font-family);
    line-height:1.5;
}
ul{
    margin: left 2rem;
    list-style-type:none;
}
a{
    text-decoration: none;
}
img{
    display:block;
}


/* global classes*/
.container{
    width: 100%;
    height:100%
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .text-container{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
  }
  .display-block{
    display:block !important;
  }
  .text-center{
    text-align:center;
  }
  .text-left{
    text-align:left;
  }
  .text-right{
    text-align:right;
  }
  @media screen and(max-width:991px){
    .full-width-mobile{
      width:100px;
    }
  }
  @media screen and(max-width:991px){
    .full-width-mobile{
     width:100px;
    }
  }
  .light-pink-background{
    background:var(--clr-pink-light)
  }
  .light-blue-background{
    background:var(--clr-blue-light)
  }
  
  .section-title .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-primary);
  }
  .section-title .underline {
    width: 60px;
    height: 5px;
    background: var(--clr-primary);
    margin-left: auto;
    margin-right: auto;
  }
  
  /* buttons & inputs */
  .button-primary-dark,
  .button-primary-light {
    font-weight: bold;
    border: none;
    border: none;
    cursor: pointer;
    height: 45px;
    transition: var(--transition);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
  }
  .button-primary-dark {
    background: var(--clr-primary);
    color: var(--clr-white);
  }
  .button-primary-light {
    background: var(--clr-white);
    color: var(--clr-primary);
  }
  .button-primary-dark:hover {
    background: var(--clr-primary-light);
  }
  .button-primary-light:hover {
    background: var(--clr-white-light);
  }
  .primary-input,
  .primary-textarea {
    height: 45px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    border: 1px solid var(--clr-shadow);
    background: var(--clr-white);
    letter-spacing: 1px;
    font-family: var(--font-family);
  }
  .primary-textarea {
    height: unset;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: vertical;
  }
  
  @media screen and (min-width: 769px) {
    .button-primary-dark,
    .button-primary-light {
      height: 50px;
      min-width: 220px;
    }
    .primary-input {
      height: 50px;
    }
  }

  /* padding classes */
  @media screen and(max-width:991px){
  .paddingtopmobile-ten{
    padding-top:10px !important;
  }
  .paddingtopmobile-twenty{
    padding-top:20px !important;
  }
  .paddingtopmobile-thirty{
    padding-top:30px !important;
  }
  .paddingtopmobile-fourty{
    padding-top:40px !important;
  }
  .paddingtopmobile-fifty{
    padding-top:50px !important;
  }
  .paddingbottommobile-ten{
    padding-bottom:10px !important;
  }
  .paddingbottommobile-twenty{
    padding-bottom:20px !important;
  }
  .paddingbottommobile-thirty{
    padding-bottom:30px !important;
  }
  .paddingbottommobile-fourty{
    padding-bottom:40px !important;
  }
  .paddingbottommobile-fifty{
    padding-bottom:50px !important;
  }
}
@media screen and(min-width:992px){
  .paddingtopdesk-ten{
    padding-top:10px;
  }
  .paddingtopdesk-twenty{
    padding-top:20px;
  }
  .paddingtopdesk-ten{
    padding-top:10px;
  }
  .paddingtopdesk-thirty{
    padding-top:30px;
  }
  .paddingtopdesk-fourty{
    padding-top:40px;
  }
  .paddingtopdesk-fifty{
    padding-top:50px;
  }
  .paddingtopdesk-sixty{
    padding-top:60px;
  }
  .paddingtopdesk-seventy{
    padding-top:70px;
  }
  .paddingtopdesk-eighty{
    padding-top:80px;
  }
  .paddingtopdesk-ninty{
    padding-top:90px;
  }
  .paddingtopdesk-hundred{
    padding-top:100px;
  }
  .paddingbottomdesk-ten{
    padding-bottom:10px;
  }
  .paddingbottomdesk-twenty{
    padding-bottom:20px;
  }
  .paddingbottomdesk-thirty{
    padding-bottom:30px;
  }
  .paddingbottomdesk-fourty{
    padding-bottom:40px;
  }
  .paddingbottomdesk-fifty{
    padding-bottom:50px;
  }
  .paddingbottomdesk-sixty{
    padding-bottom:60px;
  }
  .paddingbottomdesk-seventy{
    padding-bottom:70px;
  }
  .paddingbottomdesk-eighty{
    padding-bottom:80px;
  }
  .paddingbottomdesk-ninty{
    padding-bottom:90px;
  }
  .paddingbottomdesk-hundred{
    padding-bottom:100px;
  }
  
}

